<h2>Experimental Lab</h2>

<!-- <div>
  <section>
    <div id="canvasesdiv" style="position:relative; width:400px; height:300px">
      <canvas #layer1
        style="z-index: 2;
        position:absolute;
        left:0px;top:0px;
        " height="300px" width="400">
        This text is displayed if your browser does not support HTML5 Canvas.
      </canvas>
      <canvas #layer2
        style="z-index: 0;
        position:absolute;
        left:0px;
        top:0px;
        " height="300px" width="400">
        This text is displayed if your browser does not support HTML5 Canvas.
      </canvas>
      <canvas #layer3
        style="z-index: 3;
        position:absolute;
        left:0px;
        top:0px;
        " height="300px" width="400">
        This text is displayed if your browser does not support HTML5 Canvas.
      </canvas>
    </div>
  </section>
</div> -->

<img src="~/assets/gameimages/Level1.png" [width]="WIDTH">

<p>
  You awake to find yourself strapped to a table in some sort of lab. From the exotic equipment surrounding you, you gather
  you have been taken prisoner aboard the strange spacecraft. You turn your head to see a bizarre alien working busily
  at a terminal. A crashing sound from the other side of the lab distracts the alien. Whil its back is turned you wriggle
  free from your bonds and leap off the table.
</p>
<p>
  There are two doors in front of you that appear to lead out of the lab.
</p>
<p *ngIf="character.literate">
  A sign over one doorway says 'Exit.' A sign over the other doorway reads 'De-atomizing Chamber.'
</p>

<sky-alert
  *ngIf="!character.literate"
  alertType="warning">
  Your character is illiterate. You will not be able to read any of the text you come across.
</sky-alert>

<sky-action-button-container>
  <sky-action-button
    *ngFor="let choice of choices"
    (actionClick)="makeChoice(choice.id)">
    <sky-action-button-icon
      [iconType]="choice.icon">
    </sky-action-button-icon>
    <sky-action-button-header>
      {{ choice.name }}
    </sky-action-button-header>
    <sky-action-button-details>
      {{ choice.description }}
    </sky-action-button-details>
  </sky-action-button>
</sky-action-button-container>