<h2>Stairway</h2>

<img src="~/assets/gameimages/Level1.png" [width]="WIDTH">

<p>
    The door opens and reveals a corridor beyond. You step through the door and it closes behind you with a whishing click. The corridor appears to be deserted, except for the blips and whirs of the spacecraft as it carries you ever farther from your home.

</p>
<p>
    Before you, you see a stairwell, with stairs leading up and down.
</p>

<sky-alert
  *ngIf="!character.literate"
  alertType="warning">
  Your character is illiterate. You will not be able to read any of the text you come across.
</sky-alert>

<sky-action-button-container>
  <sky-action-button
    *ngFor="let choice of choices"
    (actionClick)="makeChoice(choice.id)">
    <sky-action-button-icon
      [iconType]="choice.icon">
    </sky-action-button-icon>
    <sky-action-button-header>
      {{ choice.name }}
    </sky-action-button-header>
    <sky-action-button-details>
      {{ choice.description }}
    </sky-action-button-details>
  </sky-action-button>
</sky-action-button-container>