<div *ngIf="!gameStarted">

  <img src="~/assets/gameimages/Level0.png" width="600px">

  <p>
    {{ 'game_intro_alien' | skyAppResources }}
  </p>

  <p>
    <button
      type="button"
      class="sky-btn sky-btn-primary"
      (click)="startGame()">
      {{ 'game_start_button' | skyAppResources}}
    </button>
  </p>

</div>

<div *ngIf="!characterIsDead && gameStarted && !youWon">

  <app-game-step-0 *ngIf="0 > [1,2,3,4,5,6,7,8].indexOf(currentStep)">
  </app-game-step-0>

  <app-game-step-1 *ngIf="currentStep === 1">
  </app-game-step-1>

  <app-game-step-2 *ngIf="currentStep === 2">
  </app-game-step-2>

  <app-game-step-3 *ngIf="currentStep === 3">
  </app-game-step-3>

  <app-game-step-4 *ngIf="currentStep === 4">
  </app-game-step-4>

  <app-game-step-5 *ngIf="currentStep === 5">
  </app-game-step-5>

  <app-game-step-6 *ngIf="currentStep === 6">
  </app-game-step-6>

  <app-game-step-7 *ngIf="currentStep === 7">
  </app-game-step-7>

  <app-game-step-8 *ngIf="currentStep === 8">
  </app-game-step-8>

</div>

<div *ngIf="characterIsDead">
  <h3>
    {{ 'game_failure_alien_title' | skyAppResources }}
  </h3>
  <img src="~/assets/gameimages/DeathScreen.png" width="600px">
  <p>
    {{ deathText }}
  </p>

  <p>
    <button
    type="button"
    class="sky-btn sky-btn-primary"
    (click)="tryAgain()">
    {{ 'game_restart_button' | skyAppResources }}
  </button>
</p>

</div>

<div *ngIf="youWon">
  <h3>
    {{ 'game_won' | skyAppResources }}
  </h3>
  <img src="~/assets/gameimages/SuccessScreen.png" width="600px">
  <p>
    {{ 'game_success_alien' | skyAppResources }}
  </p>
  <p>
    {{ 'game_tobecontinued' | skyAppResources }}
  </p>

  <p>
    <button
    type="button"
    class="sky-btn sky-btn-primary"
    (click)="tryAgain()">
    {{ 'game_restart_button' | skyAppResources }}
  </button>
</div>
