<ul>
  <li>
    <a skyAppLink="/">
      Game Home
    </a>
  </li>
  <li>
    <a skyAppLink="/teacher">
      Teacher Home
    </a>
    <ul>
      <li>
        <a skyAppLink="/teacher/details">
          Details
        </a>
      </li>
      <li>
        <a skyAppLink="/teacher/registration">
          Registration
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a skyAppLink="/student">
      Student Home
    </a>
    <ul>
      <li>
        <a skyAppLink="/student/details">
          Details
        </a>
      </li>
      <li>
        <a skyAppLink="/student/registration">
          Registration
        </a>
      </li>
    </ul>
  </li>
</ul>
