<h3 *ngIf="!character">Loading Character Bio...</h3>

<div *ngIf="character">
  <div style="border: solid 1px #ccc">
    <sky-page-summary>
      <!-- <sky-page-summary-alert>
        <sky-alert alertType="info">This is an alert.</sky-alert>
      </sky-page-summary-alert> -->
      <sky-page-summary-image>
        <sky-avatar
          [name]="character.name"
          [src]="avatarUrl"
          [canChange]="false">
        </sky-avatar>
      </sky-page-summary-image>
      <sky-page-summary-title>
        {{ character.name }}
      </sky-page-summary-title>
      <sky-page-summary-subtitle>
        {{ character.age }} year old {{ character.gender }} from {{ character.country }}
      </sky-page-summary-subtitle>
      <sky-page-summary-status>
        <sky-label *ngIf="character.literate">
          You are literate
        </sky-label>
        <sky-label labelType="warning" *ngIf="!character.literate">
          You are illiterate
        </sky-label>
        <sky-label *ngIf="character.hasBasicMath">
          You understand basic math
        </sky-label>
        <sky-label labelType="warning" *ngIf="!character.hasBasicMath">
          You don't understand basic math
        </sky-label>
        <sky-label *ngIf="!character.undernourished">
          You are properly nourishment
        </sky-label>
        <sky-label labelType="warning" *ngIf="character.undernourished">
          You are malnourished
        </sky-label>
      </sky-page-summary-status>
      <sky-page-summary-content>

        <h4>Inventory</h4>
        <div *ngIf="character.inventory.length === 0">
          You have no items
        </div>
        <div *ngIf="character.inventory.length > 0">
          <ul>
            <div *ngFor="let item of character.inventory">
              <li>item.name</li>
            </div>
          </ul>
        </div>

      </sky-page-summary-content>
      <sky-page-summary-key-info>
        <sky-key-info>
          <sky-key-info-value>
            {{ character.usd | skyNumeric:{digits: 2, format: 'currency', iso: 'USD', truncate: false} }}
          </sky-key-info-value>
          <sky-key-info-label>
            Money
          </sky-key-info-label>
        </sky-key-info>
        <sky-key-info>
          <sky-key-info-value>
            Health
          </sky-key-info-value>
          <sky-key-info-label>
            {{ character.baseHealth }}
          </sky-key-info-label>
        </sky-key-info>
      </sky-page-summary-key-info>
    </sky-page-summary>
  </div>

</div>