<h3 *ngIf="!character">Loading Character Bio...</h3>

<div *ngIf="character">
  <sky-avatar
    [name]="character.name"
    [src]="src">
  </sky-avatar>

  <ul>
    <li>Name: {{ character.name }}</li>
    <li>Country: {{ character.country }}</li>
    <li>Age: {{ character.age }}</li>
    <li>Gender: {{ character.gender }}</li>
    <li>Malnourished: {{ character.undernourished }}</li>
    <li>Literate: {{ character.literate }}</li>
    <li>Education level: {{ character.educationLevel }}</li>
    <li>Base health: {{ character.baseHealth }}</li>
    <li>USD: {{ character.usd }}</li>
    <li>Has basic math: {{ character.hasBasicMath }}</li>
  </ul>

  <h4>Inventory</h4>
  <div *ngIf="character.inventory.length === 0">
    You have no items
  </div>
  <div *ngIf="character.inventory.length > 0">
    <ul>
      <div *ngFor="let item of character.inventory">
        <li>item.name</li>
      </div>
    </ul>
  </div>
</div>